*.retry
hosts
roles/*
setup.yml
test/roles/ansible-b*
test/roles/amq-b*
test/roles/cli*
test/roles/docker
test/roles/nodejs
test/roles/prov*
test/roles/rh*
test/roles/ansible-e*
test/roles/ansible-q*
