[amq-clients-1.0-rhel-{{ ansible_distribution_major_version }}-candidate]
name=AMQ Clients 1.0 Candidate Packages $basearch for RHEL {{ ansible_distribution_major_version }}
baseurl=http://download.lab.bos.redhat.com/rel-eng/repos/amq-clients-1.0-rhel-{{ ansible_distribution_major_version }}-candidate/{{ ansible_architecture }}
enabled=1
gpgcheck=0
